{% extends 'base.html.twig' %}

{% block title %}Prénoms d'avant{% endblock %}

{% block body %}
<style>
.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h1>Hello {{ page }}! ✅</h1>

	This friendly message is coming from:
	<p>Coucouuuu</p>
    {# <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/Projet_18_data/Projet_18_data/src/Controller/PrenomController.php'|file_link(0) }}">src/Controller/PrenomController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/Projet_18_data/Projet_18_data/templates/prenom/index.html.twig'|file_link(0) }}">templates/prenom/index.html.twig</a></code></li>
    </ul> #}


    <select id="yearselect"> 
    	{% for i in 1900..2017 %}
    	<option value="{{ i }}">{{ i }}</option>
    	{% endfor %}
    </select><br>


    {% for item in topNom %}
    
    <a href="https://www.prenoms.com/prenom/{{item.nom}}.html">{{item.nom}}</a>
    {{item.nombre}}<br>
    {% endfor %}
    {% for item in bottomNom %}
    {{item.nom}}
    {{item.nombre}}<br>
    {% endfor %}
</div>


{% endblock %}
