{% extends 'base.html.twig' %}

{% block title %}Prénoms d'avant{% endblock %}

{% block body %}
<style>
.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h1> {{ page }}</h1>



   

    <select id="yearselect"> 
    	{% for i in 1900..2017 %}
    	<option value="{{ i }}">{{ i }}</option>
    	{% endfor %}
    </select><br>

    {# web scraping #}
    {% for item in topNom %}
    
    <a href="https://www.prenoms.com/prenom/{{item.nom}}.html">{{item.nom}}</a>
    {{item.nombre}}<br>
    {% endfor %}
    {% for item in bottomNom %}
    {{item.nom}}
    {{item.nombre}}<br>
    {% endfor %}

{# {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{{ form_start(form) }}

    {{ form_errors(form)}}
{#     {% for i in 1900..2017 %} #}
        {{ form_widget(form.year) }}

   {#  {% endfor %} #}
    {{ form_widget(form.year) }}

{{ form_end(form) }}
</div>


{% endblock %}
