{% extends 'base.html.twig' %}

{% block title %}Hello CherchenomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Entrez un nom et une année pour savoir combien de fois il a été donné cette année-là (aha-aha) ✅</h2>


   {{ form_start(form) }}

    {{ form_errors(form)}}
    {# {% for item in form.placeholder %} #}
        {{ form_widget(form)}}
    {# {% endfor %} #}

    {{ form_widget(form) }}

{{ form_end(form) }}


{% if contactdata is defined %}
{% for item in contactdata %}
	{{item}}
{% endfor %}
{% endif %}


[{% for prenom in results -%}
    {{ {id: prenom.id, label: prenom.name, value: prenom.name}|json_encode|raw }}
    {# use "value" instead of "id" key, if you use jquery-ui #}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}]
</div>
{% endblock %}


{% block javascripts %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ asset('build/style.js') }}"></script>
	<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

